a {
    text-decoration: none;
}

th {
    background-color: cornflowerblue;
    color: fff;
    padding: 5px, 10px;
}

td {
    border: solid 1px #aaa;
    color: #999;
    padding: 5px, 10px;
} 

table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}